.navbar {
  height: 50px;
  width: 100%;
  background: #333333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #d6d6d6;
    font-size: 12px;
    height: 100%;
  }
  &__item {
    list-style: none;
    margin-right: clamp(18px, calc(100vw/13 - 45px), 39px);
    .apple-icon {
      font-size: 19px;
      margin-top: 2px;
      margin-right: -5px;
    }
    .search-icon {
      font-size: 18px;
      margin-top: 2px;
      margin-right: -5px;
    }
    .cart-icon {
      font-size: 16px;
      margin-top: -3px;
      margin-right: -5px;
      opacity: 1;
    }
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    height: 100vh;
    width: 100vw;
    padding: 0 30px;
    
    .divider {
      border-top: 1px solid #2f2f2f;
      width: 100%;
      height: 1px;
      margin-bottom: 5px;
    }
    
    .mobile-nav-content {
      position: relative;
      max-width: 700px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      
      .search-box {
        margin-top: 50px;
        margin-bottom: 20px;
        width: calc(100% - 60px);
        height: 40px;
        padding: 5px 10px;
        border-radius: 10px;
        border: none;
        background: #1d1d1f;
      }
      
      p {
        color: #d6d6d6;
        margin: 0;
        padding: 15px 1px;
        border-bottom: 1px solid #2f2f2f;
        max-width: 90vw;
      }
    }
  }
  @media screen and (max-width: 834px) {
    .mobile-menu {
      display: block;
      top: -100vh;
      transition: background 600ms, top 500ms cubic-bezier(0,.5,0,-0.14) 100ms;
    }
    &__item:not(.icons) {
      display: none;
      margin-right: 0;
    }
    .menu {
      display: block;
      margin-right: auto;
      cursor: pointer;
      .menu-icon {
        font-size: 25px;
        margin-left: -25px;
      }
    }
    .logo {
      margin: 0 auto;
      .apple-icon {
        font-size: 22px;
      }
    }
    .cart {
      margin-left: auto;
      transition: opacity 500ms;
      .cart-icon {
        font-size: 18px;
      }
    }
  }
  // &__item:nth-child(8),
  // &__item:nth-child(9) {
  //   word-wrap: nowrap;
  // }
}

.advert {
  background: #f5f5f7;
  height: 45px;
  padding: 10px;
  
  p {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 13px;
    a {
      text-decoration: none;
      color: #1773D0;
    }
  }
}
